.About {
    background-color: #5ABAB6;
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
}

.about-content {
    padding: 100px;
    text-align: center;
    width: 50vw;
}