.About {
    background-color: black;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
}

.about-content {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}