.About {
    background-color: #BFA5A5;
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: flex-start;
}

.about-content {
    padding: 100px;
    text-align: justify;
    width: 50vw;
}
