.Contact {
    background-color: #F9ADAF;
    height: 100vh;
    display: flex;
    justify-content: center;
}

form {
    padding-top: 10em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.text-field {
    width: 25em;
}