.Home {
    width: 100vw;
    height: 100vh;
    background-color: #FB4C69;
}

.home-top-large {
    width: 100vw;
    height: 100vh;
    background-image: url('/public/assets/images/work_4.JPG');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.home-work-large {
    width: 100vw;
    height: 100vh;
    background-color: #FFC4C4;
    display: flex;
    justify-content: center;
}


