.Home {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.home-first-section-large {
    width: 100vw;
    height: 100vh;
    background-image: url('/public/assets/images/work_4.JPG');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}
